.header-nav {
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    color: white;
    height: 4rem;
    &:hover {
        background-color: rgba(#003585, 0.5);
    }
}

.header-logo {
    height: 30px;
}

.header-button {
    width: 3rem;
    height: 3rem;
    position: relative;
}

.header-button-counter {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
}
